<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ICONS -->
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="/VGMS_V1/components/navbar/navbar.css" />
<script src="/VGMS_V1/components/navbar/script.js"></script>

    <title>Sidebar</title>
  </head>
  <body>
    <div class="containers">
      <!---sidebar-->
      <div class="fixed">
      <div class="sidebar ">
        <div class="menu-btn">
          <i class="ph-bold ph-caret-left"></i>
        </div>
        <div class="head">
          <div class="user-img">
            <img src="../../assets/Images/Image.jpg" alt="" />
          </div>
          <div class="user-details">
            <p class="title">Web developer</p>
            <p class="name">Mushraf Shaikh</p>
          </div>
        </div>
        <div class="nav">
          <div class="menu">
            <p class="title">Main</p>
            <ul>
              <li>
                <a href="">
                  <i class="icon ph-bold ph-house-simple"> </i>
                    <span class="text">Dashboard</span>
                  <i class="arrow ph-bold ph-caret-down"></i>

               
                </a>
                <ul class="sub-menu">
                  <li>
                    <a href="">
                      <span class="text">Admin Dashboard</span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <span class="text">Employee Dashboard</span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <span class="text">Customer Dashboard</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="">
                  <i class="icon ph-bold ph-user"></i>
                  <span class="text">VMS</span>
                  <i class="arrow ph-bold ph-caret-down"></i>
                </a>
                <ul class="sub-menu">
                  <li>
                    <a href="../../vgmsPages/VMS/NewRegistration.php">
                      <span class="text">New Registration</span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <span class="text">Sucscribers</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="active">
                <a href="">
                  <i class="icon ph-bold ph-file-text"> </i>
                    <span class="text">HRMS</span>
                  <i class="arrow ph-bold ph-caret-down"></i>

                 
                </a>
                <ul class="sub-menu">
                  <li>
                    <a href="">
                      <span class="text">Users</span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <span class="text">Sucscribers</span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <span class="text">Mushraf</span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <span class="text">Shaikh</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="">
                  <i class="icon ph-bold ph-calendar-blank"></i>
                  <span class="text">Schedules</span>
                  <i class="arrow ph-bold ph-caret-down"></i>
                </a>
                <ul class="sub-menu">
                  <li>
                    <a href="">
                      <span class="text">Users</span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <span class="text">Sucscribers</span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <span class="text">Mushraf</span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <span class="text">Shaikh</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="menu">
            <p class="title">Settings</p>
            <ul>
              <li>
                <a href="">
                  <i class="ph ph-user-circle-gear">
                    <span class="text">RBAC</span>
                  </i>
                </a>
              </li>
            </ul>
          </div>
          <div class="menu">
            <p class="title">Account</p>
            <ul>
              <li>
                <a href="">
                  <i class="icon ph-bold ph-info"></i>
                  <span class="text">Help</span>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="icon ph-bold ph-sign-out"></i>
                  <span class="text">Logout</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- Jquery -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js"
      integrity="sha512-8Z5++K1rB3U+USaLKG6oO8uWWBhdYsM3hmdirnOEWp8h2B1aOikj5zBzlXs8QOrvY9OxEnD2QDkbSKKpfqcIWw=="
      crossorigin="anonymous"
    ></script>
    <script src="/VGMS_V1/assets/js/jquery.min.js"></script>
<script src="/VGMS_V1/components/navbar/script.js"></script>

  </body>
</html>
